<div class="login-container">
  <h1 class="site-header">LogYourDay</h1>
  <form class="form-signin">
    <button class="btn btn-facebook" onclick="window.location='/auth/facebook'; return false;"><i class="icon-facebook"></i> | Connect with Facebook</button>
    <button class="btn btn-twitter"><i class="icon-twitter"></i> | Connect with Twitter</button>
  </form>

</div>
 