<body>
  <form>
    <label for="post_message">Today I:</label>
      <input name="post_message" type="text" />
  </form>


  </form>
  <div ng-controller="PostListCtrl">
    <h1>Recent Posts</h1>
    <div ng-repeat="post in posts">
        <h2>{{post.id}}</h2>
        <p ng-bind-html="{{post.text}}"></p>
        <ul style="display:none">
          <li ng-repeat="tag in post.tags">
            {{tag}}
          </li>
        </ul>
     </div>
   <a href="#" ng-click="nextPage()">More...</a>
 </body>
