<!doctype html>
<html lang="en" ngapp>
    <head>
        <meta charset="utf8">
        <title>A Test Angular App</title>
        <link rel="stylesheet" href="/assets/angular.css"/>
        <script src="/assets/angular/angular.js"></script>
        <script src="/assets/angular/controllers/controllers.js"></script>
      </head>
    <body ngcontroller="PostListCtrl">
        <div ngrepeat="post in posts">
            <h1>{{post.id}}</h1>
            <p ngbindhtmlunsafe="{{post.text}}"></p>
            <ul style="display:none">
                <li ngrepeat="tag in post.tags">
                  {{tag}}
                </li>
              </ul>
          </div>
        <a href="#" ngclick="nextPage()">More...</a>
      </body>
  </html>
