<body>
  <%= form_tag("/posts", method: "post") do %>
    <%= label_tag(:message, "Today, I:") %>
    <%= text_field_tag(:message) %>
    <%= submit_tag("Log Activitiy") %>
  <% end %>


  </form>
  <div ng-controller="PostListCtrl">
    <h1>Recent Posts</h1>
    <div ng-repeat="post in posts">
      <div class="post">
        <p class="post-content" ng-bind-html="transform(post.message, post.tags)"></p>
        <p class="post-time">{{relativeTime(post.created_at)}}</p>
      </div>
    </div>
   <a href="#" ng-click="nextPage()">More...</a>
 </body>
