<body ng-controller="PostListCtrl">
    <div ng-repeat="post in posts">
        <h1>{{post.id}}</h1>
        <p ng-bind-html-unsafe="{{post.text}}"></p>
        <ul style="display:none">
          <li ng-repeat="tag in post.tags">
            {{tag}}
          </li>
        </ul>
     </div>
   <a href="#" ng-click="nextPage()">More...</a>
 </body>
