<div class="posts-container"  ng-controller="PostListCtrl">
  <form accept-charset="UTF-8" ng-submit="onSubmit()"><div style="margin:0;padding:0;display:inline"><input id="authenticity_token" name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" /></div>
    <label for="message">Today, I</label>
    <input id="message" name="message" ng-model="message" type="text" />
    <input class="submit" name="commit" type="submit" value="Log" />
  </form>
  <section>
    <h1>Recent Posts</h1>
    <div class="post" ng-repeat="post in posts">
      <p class="post-content" ng-bind-html="transform(post.message, post.tags)"></p>
      <p class="post-time">{{relativeTime(post.created_at)}}</p>
    </div>
    <a href="#" ng-click="nextPage()">More...</a>
  </section> 
</div>