<div class="posts-container"  ng-controller="PostListCtrl">
  <form id="posts-form" accept-charset="UTF-8" ng-submit="onSubmit()"><div style="margin:0;padding:0;display:inline"><input id="authenticity_token" name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" /></div>
    <label for="message"><h1>Today I</h1></label>
    <input id="message" name="message" ng-model="message" placeholder='slept 0 hours #hackMIT #yolo' type="text" />
    <button class="icon-plus-sign" title="Post" ng-click="onSubmit()" />
    <button class="icon-bar-chart" title="Graph" ng-click="graphs()"></button>
    <button class="icon-signout" title="Logout" ng-click="logout()"></button>

  </form>
  <section>
    <h1>Recently, I... </h1>
    <div class="post" ng-repeat="post in posts">
      <p class="post-content" ng-bind-html-unsafe="transform(post.message, post.tags)"></p>
      <span class="post-time">
        <p>{{relativeTime(post.created_at)}}</p>
        <%= link_to '', '/posts/{{post.id.$oid}}', method: 'delete', class: 'icon-remove' %>
      </span>
    </div>
    <a href="#" ng-click="nextPage()">More...</a>
  </section> 
</div>
