<div class="container" ng-controller="PostGraphCtrl">
    <input type="hidden" id="preset-tags" value="<%= @tag %>"/>
    <div class="row">
        <div class="col-md-2 col-lg-2" id="units-list">
            <h2>Units</h2>
            <div ng-repeat="unit in units">
                <div class="btn btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="units" jqyoui-draggable="{index: {{$index}},placeholder: 'keep'}">{{unit}}</div>
            </div>
        </div>
        <div class="col-md-2 col-lg-2">
            <h2>Y-Axis</h2>
            <div class="thumbnail" id="yaxis-thumbnail" data-drop="true" data-jqyoui-options ng-model="yAxis" jqyoui-droppable="{onDrop: 'updateGraph'}">
              <div ng-model="yAxis" ng-hide="!yAxis">{{yAxis}}</div>
              <div ng-model="yAxis" ng-hide="yAxis" class="drop-help-label">Drop unit here...</div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 graph-container">
            <h2>
                <button class="icon-list" title="Stream" ng-click="stream()"></button>
                <button class="icon-signout" title="Logout" ng-click="logout()"></button>
            </h2>
            <div id="graph-area">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4" id="filters-list">
            <h2>Filters</h2>
            <label ng-repeat="tag in tags">
            <input type="checkbox" ng-change="updateGraph()" ng-checked="tag.checked" ng-model="tag.checked">
            {{tag.name}}
            </label>
        </div>
        <div class="col-md-8 col-lg-8">
            <h2>X-Axis</h2>
            <div class="thumbnail" id="xaxis-thumbnail" data-drop="true" data-jqyoui-options ng-model="xAxis" jqyoui-droppable="{onDrop: 'updateGraph'}">
              <div ng-model="xAxis" ng-hide="!xAxis">{{xAxis}}</div>
              <div ng-model="xAxis" ng-hide="xAxis" class="drop-help-label">Drop unit here...</div>
            </div>
        </div>
    </div>
</div>