// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

.login-container {
    font-family: 'Open Sans';
    //background: asset-url("bg.jpg", image) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-origin:border;
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow:hidden;
    text-align: center;
    padding-top: 10px;
}

.btn.btn-facebook {
    background-color: #4c66a4;
    border:none;
}
.btn.btn-twitter {
    background-color:#1dcaff;
    border: none;
}
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 10px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .btn {
    width: 100%;
    margin-top: 10px;
}
video {
    position:absolute;
    top:0;
    left:0;
    z-index: -1000;
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    overflow:hidden;
}